.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card img {
  height: 100px;
}

.card p {
  opacity: 0.5;
}